<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 mt-3" [formGroup]="std_intimation_Form">
                            <div class="col-12">
                                <label class="form-label">Category </label>

                                <select class="form-select" name="category" formControlName="category"
                                    aria-label="Default select example" required>
                                    <option value="" selected>Select Category</option>
                                    <option value="improper attendance">
                                        Improper attendance
                                    </option>
                                    <option value="Information">Information</option>
                                    <option value="Academics">Academics</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Section </label>
                                <select class="form-select" formControlName="sectionlist" (click)="get_std_list()"
                                    required>
                                    <option value="">Select section</option>
                                    <option value="{{ x.sec_id }}" *ngFor="let x of section_List">
                                        {{ x.section_name }}
                                    </option>
                                </select>
                            </div>
                            <h5 class="text-center text-danger" *ngIf="loading && std_list?.length==0"> Loading...!
                            </h5>
                        </form>



                        <div *ngIf="std_list.length > 0">

                            <table
                                class="table table-striped table-bordered table-sm table-responsive w-100 d-block d-md-table mt-4">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; white-space: nowrap">#</th>
                                        <th>Student Name</th>
                                        <th style="white-space: nowrap">Done</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let x of std_list; let i = index">
                                        <th style="text-align: center">{{ x.roll_no }}</th>
                                        <td>{{ x.student_name }}</td>
                                        <td class="text-center">
                                            <div class="checkbox-wrapper-13">
                                                <input id="c1-13" type="checkbox" [(ngModel)]="x.status"
                                                    (click)="change_status(i)" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button [disabled]="selectedCount  <= 0" type="button" class="btn btn-primary mt-3"
                            (click)="onStatus_submit()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="student_status_Form">
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group mt-4">
                                        <input class="form-control" type="date" name="selected_dt"
                                            formControlName="selected_dt" (change)="selectedDate($event)" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="flex-grow-1 mt-4">
                                        <select class="form-control form-select" (change)="get_by_category($event)">
                                            <option value="All">All</option>
                                            <option value="{{ x }}" *ngFor="let x of campus_connect_Type">
                                                {{ x }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h5 class="text-danger text-center mt-4" *ngIf="student_Status_List?.length == 0">
                                No Data Found
                            </h5>

                            <table *ngIf="student_Status_List?.length > 0"
                                class="table table-striped table-bordered table-sm table-responsive w-100 d-block d-md-table mt-4">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; white-space: nowrap">#</th>
                                        <th>Student Name</th>
                                        <th style="white-space: nowrap">Section Name</th>
                                        <th>Type</th>
                                        <th>Entry Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let x of student_Status_Cat; let i = index">
                                        <th style="text-align: center">{{ i + 1 }}</th>
                                        <td>{{ x.student_name }}</td>
                                        <td>{{ x.section_name }}</td>
                                        <td>{{ x.campus_connect_type }}</td>
                                        <td>{{ x.campus_connect_entry_date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>