/* .card {
    border-top: 3px solid #436492; 
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
}

.card-body {
    padding: 20px;
    background-color: white;
}

.submit-edit-button {
    background-color: #436492; 
    border: 1px solid #ccc; 
    color: #333; 
  }

  .btn-responsive {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }

  .icon-size {
    font-size: 1.2rem; 
    vertical-align: middle; 
  }

  .label-name{
    color: #436492;;

  } */

 
 
  
  
 
